body {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.first {
    margin-top: 1em;
}

.hidden-element {
    text-decoration: none;
    color: #ef5b31;
}

.hidden-element:hover {
    color: #cd411e;
    cursor: pointer;
}

#mobile-info {
    display: none;
}

#mobile-info .row {
    margin-top: 30vh;
}

.first button, #mobile-info a {
    color: #ef5b31 !important;
    border-color: #ef5b31;
}

#mobile-info a:hover {
    border-color: black;
}

#mobile-info p {
    margin-bottom: 1em;
}

a {
    color: #ef5b31;
}

hr {
    border-color: #ef5b31;
    background-color: #ef5b31;
    color: #ef5b31;
}

p {
    margin-bottom: 2rem;
}

.container {
    max-width: 960px;
    min-width: 640px;
    margin-bottom: 2em;
}

.row:nth-child(n+2) {
    margin-top: 1em;
}

#basics i {
    color: #ef5b31;
    margin-left: 10px;
}

.section-header {
    color: #ef5b31;
}

.section-header i {
    font-size: 24pt;
}

#motto {
    width: 80%;
}

#skill-titles {
    white-space: nowrap;
}

#skills h6 {
    margin-bottom: 0.815em;
}

ul {
    list-style: none;
}

ul.line-list p, ul.line-list strong {
    margin-left: 28px;
}

ul.line-list h5, ul.line-list h5 strong {
    font-size: 1.7rem;
    margin: 0;
    margin-left: 5px;
    display: inline-flex;
    width: 92%;
}

.job-dates {
    font-size: 1.5rem;
}

.block {
    display: block;
}

ul.line-list li {
    position: relative;
}

ul.line-list li:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ef5b31;
}

ul.line-list li span:before {
    content: '';
    color: #ef5b31;
    top: 22px;
    position: absolute;
    border-left: 2px solid;
    left: 6px;
    bottom: 0;
    z-index: -1;
    height: 95%;
}

.line-title {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #ef5b31;
    text-align: center;
    height: 0;
    line-height: 0;
}

.line-title:before {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    content: attr(data-content);
    background-color: #fff;
}

#languages h5 {
    font-weight: 700;
    margin: 0;
}

#methodologies h5 {
    margin: 0;
}

#methodologies li {
    margin-bottom: 0.7rem;
}

#languages-header {
    margin-top: 2.5em;
}

/* The progress bar */
.progress-bar {
    width: 100%;
    height: 14px;
    display: inline-flex;
    margin: 0;
    align-items: center;
}

.progress-bar .dot {
    background-color: #c6c6c6;
    max-width: 14px;
    height: 14px;
    flex-grow: 1;
    border-radius: 50%;
}

.progress-bar .bar {
    background-color: #c6c6c6;
    flex-grow: 1;
    height: 2px;
}

.progress-bar .orange {
    background-color: #ef5b31;
}

/* Helpers */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.content-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.block {
    display: block;
}

@media screen and (max-width: 639px) {
    #print, .first {
        display: none;
    }

    #mobile-info {
        display: initial;
    }
}

.recreation-row {
    justify-content: center;
}

.recreation-column {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    max-width: 15% !important;
}

.recreation-column:nth-child(2n) {
    position: relative;
    top: 40px;
}

.recreation-column:nth-child(2) {
    z-index: 2;
}

.recreation-column:nth-child(3) {
    z-index: 3;
}

.recreation-column:nth-child(4) {
    z-index: 4;
}

.recreation-column:nth-child(5) {
    z-index: 5;
}

.recreation-column span {
    text-align: center;
}

.recreation-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #c6c6c6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: white;
}

.recreation-icon i {
    color: #ef5b31;
    font-size: 55px;
}

.recreation-line {
    height: 75px;
    width: 1px;
    border-right: solid 1px #c6c6c6;
}

.recreation-line-uneven {
    height: 155px;
}

@media screen and (min-width: 860px) {
    .recreation-line-uneven {
        height: 120px;
    }

    .recreation-column span {
        width: 125px;
    }
}
